---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
<div id="gitalk-container"></div>
var gitalk = new Gitalk({
  clientID: '23d17a049cfe48a61eaa',
  clientSecret: 'c622313ad961878eae15529a7ff84af66dafbf9c',
  repo: 'zzm201069.github.io',
  owner: 'zzm201069', 
  admin: ['zzm201069'],
  id: location.pathname,
});

gitalk.render('gitalk-container');
